body,button, input, select, textarea,h1 ,h2, h3, h4, h5, h6 { font-family: Microsoft YaHei,'ו' , Tahoma, Helvetica, Arial, "\5b8b\4f53", sans-serif;}

.login {
    position: relative;
    top: 50px;
}



.operationzone {
    position: relative;
    left: 50px;
    width:500px;

}



.moneyleft, .totalpay{
    font-weight: bold;
    color: RED;
}

.confirmbtn{
    position: relative;
    left: 400px;
}


